/* Global */
@import "global/_normalize.scss";
@import "global/_variables";
@import "global/_mixins";
@import "global/_fonts";
@import "global/_reboot";
@import "global/_container";
@import "global/_visually-hidden";
@import "global/_overlay";

/* Blocks */
@import "blocks/_aside";
@import "blocks/_hero";
@import "blocks/_custom-input";
@import "blocks/_table";
@import "blocks/_pleer";
@import "blocks/_modal-window";
@import "blocks/_form-authorization";
@import "blocks/_option-card";
@import "blocks/_pagination";
@import "blocks/_error"