*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  font-family: $ff-main;
  color: $color-black;
  background-color: $color-white;
}

main {
  display: grid;
  grid-template-columns: 289px 1fr;
  grid-template-rows: 1fr 100px;
  flex-grow: 1;

  @include vp-1023 {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 120px;
  }
}

img {
  display: block;
  height: auto;
  object-fit: cover;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: $color-black;
}

textarea {
  resize: none;
}

input[type="range"],
button {
  cursor: pointer;
  transition: background-color 0.3s linear, color 0.3s linear;
}