.form-enter {
    position: absolute;
    top: 35%;
    left: 40%;

    &__wrapper {
        border: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    &__title {
        margin: 0 0 35px;
    }

    &__button {
        background-color: orange;
        color: white;
        border: none;
        padding: 10px;
        border-radius: 10px;
        font-size: 20px;
        transition: background-color 0.3s linear;

        &:hover {
            background-color: rgb(197, 118, 0);
        }
    }

    &__error {
        background-color: red;
        padding: 10px;
        border-radius: 10px;
        margin: 0 0 20px;
        opacity: 0;
        transition: opacity 0.3s linear;
        display: none;

        &--active {
            display: flex;
            opacity: 1;
        }

        &-span {
            color: white;
            margin: 0;
            font-size: 19px;
            font-weight: 500;
        }
    }
}