.hero {
    padding: 15px 30px 33px 46px;

    &__header-logo {
        display: none;
    }

    &__header-svg {
        width: 176px;
        height: 30px;
    }

    @include vp-1023 {
        padding: 15px 16px;

        &__header-logo {
            display: flex;
        }

        .custom-input {
            display: none;
        }
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        @include vp-1023 {
            background-color: $color-white;
            align-items: center;
        }
    }

    &__header-button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 6px 13px;
        border: none;
        background-color: $color-white-smoke;
        border-radius: 30px;
        width: 246px;
        transition: background-color 0.2s ease-in;

        &:focus-visible,
        &:hover {
            background-color: rgb(207, 207, 207);
        }

        @include vp-1023 {
            background-color: transparent;
            width: 80px;
            padding: 0;
        }
    }

    &__header-text {
        @include vp-1023 {
            font-size: 15px;
            line-height: 15px;
            letter-spacing: 0.01em;
        }
    }

    &__header-content {
        display: flex;
        gap: 11px;
        align-items: center;
    }

    &__header-icon {
        width: 42px;
        height: 42px;

        @include vp-1023 {
            width: 30px;
            height: 30px;
        }
    }

    .hero__header-icon--arrow {
        width: 16px;
        height: 16px;

        @include vp-1023 {
            display: none;
        }
    }

}