.modal-window {
    background-color: white;
    z-index: 10;
    padding: 20px;
    border-radius: 30px;
    position: absolute;
    top: 45%;
    left: 45%;
    display: flex;
    flex-direction: column;
    gap: 15px;

    &__close {
        background-color: rgb(255, 12, 12);
        color: white;
        border: none;
        border-radius: 8px;
        padding: 5px;
        transition: background-color 0.3s linear;

        &:hover {
            background-color: rgb(189, 25, 25);
        }
    }

    &__buttons {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__button {
        background-color: orange;
        color: white;
        padding: 5px;
        border-radius: 8px;

        &-sign {
            background-color: orange;
            color: white;
            padding: 5px;
            border-radius: 8px;
        }

    }

    &__button,
    &__button-sign {
        transition: background-color 0.3s linear;

        &:hover {
            background-color: rgb(209, 153, 0)
        }
    }


    &__account {
        background-color: rgb(26, 53, 255);
        color: white;
        padding: 5px;
        border-radius: 8px;
        border: none;
        transition: background-color 0.3s linear;

        &:hover {
            background-color: rgb(0, 21, 182);
        }
    }
}