.modal-window {
    background-color: white;
    z-index: 10;
    padding: 20px;
    border-radius: 30px;
    position: absolute;
    top: 45%;
    left: 45%;
    display: flex;
    flex-direction: column;
    gap: 15px;

    &__close {
        background-color: red;
        color: white;
        border: none;
        border-radius: 8px;
        padding: 5px;
    }

    &__buttons {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__button {
        background-color: orange;
        color: white;
        padding: 5px;
        border-radius: 8px;

        &-sign {
            background-color: orange;
            color: white;
            padding: 5px;
            border-radius: 8px;
        }
    }
}