.option-card {
    opacity: 0;
    transition: opacity 0.3s linear;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 20px;
    left: 35px;
    border-radius: 8px;
    background-color: rgb(38, 38, 38);

    @include vp-767 {
            top: 10px;
    left: -40px;
    }

    &--active {
        opacity: 1;
    }

    &__text {
        color: $color-white;
        border: none;
        padding: 5px;
        border-radius: 8px;
        font-size: 13px;
    }
}