.option-card {
    opacity: 0;
    transition: opacity 0.3s linear;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 20px;
    left: 35px;
    border-radius: 8px;
    background-color: rgb(38, 38, 38);

    @include vp-767 {
        top: 15px;
        left: -75px;
        height: 40px;
        width: 110px;
    }

    &--active {
        opacity: 1;
    }

    &__text {
        color: $color-white;
        border: none;
        padding: 5px;
        border-radius: 8px;
        font-size: 13px;

        @include vp-767 {
            font-size: 11px;
            line-height: 10px;
        }
    }
}