.pagination {
    display: flex;
    justify-content: center;
    align-items: center;

    &__list {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        width: 500px;
        padding: 0;
        margin: 0;
        gap: 20px 10px;
        justify-content: center;
    }

    &__button {
        font-family: Arial, Helvetica, sans-serif;
        width: 30px;
        height: 30px;
        background-color: rgba(255, 128, 0, 0.5);
        color: white;
        border: none;
        padding: 5px;
        border-radius: 8px;
        transition: background-color 0.2s linear;

        &--active,
        &:hover {
            background-color: rgba(255, 128, 0, 1);
        }

        &:active {
            background-color: rgb(181, 92, 3);
        }
    }
}