.pleer {
    grid-column: span 2;
    height: 100px;
    padding: 10px 30px 20px;
    border-top: 1px solid #E8E8E8;
    display: grid;
    grid-template-columns: 434px, 681px, 97px;
    gap: 84px;
    align-items: flex-end;

    @include vp-1023 {
        background-color: $color-white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        height: 120px;
        padding: 14px 8px;
    }

    &__album {
        display: flex;
        gap: 10px;
        align-items: center;
        grid-column: 1 / 2;

        &-play {
            display: none;
            background-color: #AAAAAA;
            border: none;
            border-radius: 86px;
            width: 40px;
            height: 40px;
            padding: 8px 0 0 8px;

            @include vp-1023 {
                display: flex;
            }
        }
    }

    &__artist {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: 0 10px 0 0;

        @include vp-767 {
            width: 200px;
        }

        &-song {
            font-size: 14px;
            line-height: 12px;
            letter-spacing: 0.01em;
            display: flex;
            align-items: center;
            gap: 12px;
        }

        &-name {
            font-size: 12px;
            line-height: 12px;
            letter-spacing: 0.01em;
            color: #AAAAAA;
        }

        &-button {
            border: none;
            background-color: transparent;
            padding: 0;
        }

        &-like {
            width: 24px;
            height: 24px;
            color: transparent;

            transition: color 0.3s linear;

            &:hover {
                color: rgb(255, 219, 219);
            }
        }
    }

    .liked {
        .pleer__artist-like {
            color: #FC6D3E;
        }
    }

    &__interface {
        grid-column: 2 / 3;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 6px;

        @include vp-767 {
            gap: 0;
        }
    }

    &__buttons {
        display: flex;
        gap: 20px;

        &-shufle,
        &-back,
        &-forward,
        &-repeat {
            background-color: transparent;
            border: none;
            padding: 0;

            @include vp-1023 {
                display: none;
            }
        }

        &-play {
            background-color: #AAAAAA;
            border: none;
            border-radius: 86px;
            width: 40px;
            height: 40px;
            padding: 3px 0 0 2px;

            @include vp-1023 {
                display: none;
            }
        }
    }

    &__bottom {
        display: flex;
        align-items: center;
        gap: 12px;

        &-scroll {
            width: 609px;
            height: 6px;

            @media (max-width: 1299px) {
                width: 264px;
            }
        }

        &-start,
        &-end {
            color: #AAAAAA;

            @include vp-1023 {
                font-size: 13px;
            }
        }
    }

    &__sound {
        grid-column: 3 / 4;
        display: flex;
        align-items: center;
        gap: 9px;

        @include vp-1023 {
            display: none;
        }

        &-icon {
            width: 16px;
            height: 16px;
        }

        &-input {
            width: 72px;
            height: 6px;
        }
    }


}